
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {display:flex;
                flex-basis: 100%;
                flex-flow:row wrap;
                width:100vw;
                height:100vh;}

nav {display:flex;
    flex:1;
    flex-flow: column;
    border:1px solid black;
    justify-content: space-between;
    align-items: center;}

nav > button {width:2rem;
            height:2rem;}

.ball {height:2rem;
         width:2rem;
        background-color:grey;
        border-radius:4rem;}

main {display: flex;
     flex:5;
    border:1px solid red;}

main > header { height:7rem;
                border-bottom: 2px solid red;
                display: flex;
                align-items: center;
                padding:1.5rem;}
     
aside {display:flex;
      flex:2;
      justify-content: center;
      align-items:flex-start;
      padding-top: 1.5rem;
      border:1px solid green;}

aside > button {height:3rem;
                width:7rem;}

 .circle        {
                    display: none;
                    height: 3rem;
                    width: 3rem;
                    border-radius: 3rem;
                    background-color: grey;
                    position: absolute;
                    right: .5rem;
                    bottom: .5rem;
                }
@media screen and (max-width:768px)
{
    .maincontainer {display:flex;
                    flex-flow:column;}
    aside , .ball {display:none;}
    nav {flex-flow:row;
        max-width:100%;
        max-height:4rem;}
    main > header {border-bottom: none;}
    .circle {display:block;}
}